@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "suit-variable";
  src: url("../src/assets/font/SUIT-Variable.woff2");
}
body {
  margin: 0;
  font-family: suit-variable, sans-serif;
  background-image: url(../src/assets/background.png);
  background-size: contain;
  vertical-align: top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
