@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "suit-variable";
  src: url("../src/assets/font/SUIT-Variable.woff2");
}
body {
  margin: 0;
  font-family: suit-variable, sans-serif;
  background-image: url(../src/assets/background.png);
  background-size: contain;
  height: 100%;
  min-width: 1700px;
  padding: 55px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}
body::-webkit-scrollbar {
  display: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
