@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "suit-variable";
  src: url("../src/assets/font/SUIT-Variable.woff2");
}
* {
  box-sizing: border-box;
}
body {
  font-family: suit-variable, sans-serif;
  background-image: url(assets//background/backgroundSVG.svg);
  background-size: 1920px auto;
  /* height: 100vh; */
  /* background-repeat: no-repeat; */
}
body::-webkit-scrollbar {
  display: none;
}
.scroll::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .postButton {
    @apply w-[55px] h-[2px] rounded-full mr-[6px];
  }
  .postButtonNonClick {
    @apply border-[1px] border-[#c1c1c1];
  }
  .postButtonClick {
    @apply border-[1px] border-[#636e72];
  }
}
