@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "suit-variable";
  src: url("../src/assets/font/SUIT-Variable.woff2");
}
body {
  margin: 0;
  font-family: suit-variable, sans-serif;
  background-image: url(../src/assets/background.png);
  min-width: 1700px;
  padding: 55px 0px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: top;
  position: relative;
  left: 0;
  right: 0;
  top: 0px;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
